@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.logo {
  width: 120px;
  height: auto;
}

.titleAvatar {
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  margin-right: 15px;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  margin-bottom: 60px;
}
