@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.boxLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  height: auto;
  background-color: transparent;
}
.slogan {
  font-size: 1em;
  color: #53d496;
  display: inline-block;
}
.titleAvatar {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  margin-right: 15px;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 60px;
  background-color: #65c9ff;
  border-radius: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 5px 15px;
  margin-bottom: 48px;
}
