.BoxHerbarium {
  font-family: 'Inter', sans-serif;
}

.herbier-title {
  font-size: 1.7rem;
  margin: 0 0 28px 24px;
}
.herbier-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

.herbier-btn-magnolia {
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 10px;
  background-color: #fff;
  color: #53d496;
  border: 1px solid #53d496;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.cardsHerbarium {
  position: relative;
  display: flex;
  border-radius: 5px;
  margin: 20px 24px 0 24px;
  background-color: rgb(248 241 228 / 15%);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.photoMagnolia {
  width: 130px;
  height: 130px;
  margin: 14px;
  border-radius: 5px;
}
.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
}

.title {
  font-weight: 400;
  font-size: 1.1rem;
}
.title:first-child {
  padding-top: 4px;
}
.content {
  font-size: 1rem;
  font-weight: 200;
  padding: 8px 0 0 4px;
}
.content:nth-last-child(3n + 1) {
  padding-bottom: 18px;
}

.toggleImg {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 22px;
}
