@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap%27');

/* map  */
.BoxMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.CardMap {
  box-sizing: border-box;

  /*box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);*/
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CardInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #53d496;
}
.imgParc {
  width: 80px;
  height: auto;
}
.CardInfoTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.CardInfoTxt h3 {
  margin: 0px;
}
.CardInfoSubTxt {
  display: flex;
  font-size: 0.8em;
  justify-content: space-around;
  align-items: center;
}
.CardInfoSubTxt p {
  margin-right: 10px;
}
.imgPopup {
  width: 100px;
  height: auto;
}
.leaflet-popup-content-wrapper {
  margin: 0px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  z-index: 1;
}
.leaflet-popup-content {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.leaflet-container {
  width: 100%;
  height: 200px;
  z-index: 0;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 405px;
}
.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  z-index: 1;
}
.avatarLocation {
  border-radius: 100px;
}
.avatarPosition {
  border: thick double green;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.avatar {
  border-radius: 100px;
  margin: 0.5em;
  cursor: pointer;
  width: 100px;
}
.nav {
  z-index: 10;
}
